{% include 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">

    <style>
        .btn{
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      }
      .btn:hover{

    background-color: darkcyan;
    border: none;
    transform: scale(1.1);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 darkcyan;
    }
    body{
        background-image: url("{% static 'profile2.png' %}");
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: 100% 100%;
      }
    </style>
</head>
<body>
    

    <div class="container mt-5 ">
    <h1 class="text-center pb-5"> Welcome {{username}} </h1>
    
        {% if mbti == None %}
            <br><h4 class="my-5 pb-5">You haven't taken the personality test yet. Once you take the survey, you resultant personality type will be shown here.</h4>
        {% else %}
            <h5 class="pt-3 pb-4"> Your MBTI personality type is <b>{{mbti}} </b></h5>
            <h5 class="pb-4">Click on the button below to view your detailed result</h5>
            <form action="res">
                <input type="submit" value={{mbti}} name="mbti" class="btn btn-dark px-5 py-2">
            </form>
            
         
        {% endif %}
    </div>
    
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js" integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous"></script>
    

</body>
</html>